#Built-in Data Structure, ##List

In [2]:
data = [6,3,7,2,7,3,7,34,65]
data

[6, 3, 7, 2, 7, 3, 7, 34, 65]

In [3]:
data[2:5] #slicing

[7, 2, 7]

In [7]:
data[2]= 77
data[2]

77

In [8]:
data[2:5]=77,22,77 # we can assign multi change of indexed elements
data

[6, 3, 77, 22, 77, 3, 7, 34, 65]

In [26]:
#methods
data = [6,3,7,2,7,3,7,34,65,7]
data.append(88)
data.insert(2,7.7)
data.extend([101,102,102])
data.index(7)
data.count(7)
data.pop()
data.remove(7.7)
data.reverse()
data.sort()
data.sort(reverse=True)

In [27]:
data.clear()

#Shallow Copy And Deep Copy

In [42]:
data= [4,56,67,78,45,6]

In [43]:
#Deep Copy
c1= data 
c1.append(89)

In [49]:
#Shalow Copy
c2 = data.copy()

In [50]:
c2.append(898)

#**Tuple**

In [51]:
ti = (2,3,4,6,7)

In [52]:
ti[0]

2

## We can't change the value inside the Tuple but in list we can do that.

#Set

In [58]:
s = {1,2,3,2,4,3,5,7,0}
s.add(8) #We can add the unique value but can't add duplicate value
s.discard(3) # discard if not find the data, don't through the error
s.pop() # in set pop remove data from the starting, while in list from last

0

In [59]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [60]:
s1.intersection(s2)

{3, 4}

In [64]:
s1.difference(s2)
s2.difference(s1)

{5, 6}

In [65]:
s1.symmetric_difference(s2)

{1, 2, 5, 6}

In [66]:
s1.difference_update(s2)

In [67]:
s1.issubset(s2)

False

In [68]:
s1.issuperset(s2)

False

In [69]:
s1.isdisjoint(s2)

True

#Dictionary

In [70]:
data = {'roll':1,'name': "Alexa",'dept':'CSE' }
data

{'roll': 1, 'name': 'Alexa', 'dept': 'CSE'}

In [71]:
#access the data
data['name'] #string is case sensative

'Alexa'

In [73]:
data.get('Name') # it will not give result but will not give error also
data.get('name')

'Alexa'

In [79]:
#Update or add data
# to update key(colummn name need to be unique)
data['roll'] = 2
data ['sub'] = ['DM','CP']
data

{'roll': 2, 'name': 'Alexa', 'dept': 'CSE', 'sub': ['DM', 'CP']}

In [81]:
#Method
data.keys()

dict_keys(['roll', 'name', 'dept', 'sub'])

In [82]:
data.values()

dict_values([2, 'Alexa', 'CSE', ['DM', 'CP']])

In [83]:
data.items()

dict_items([('roll', 2), ('name', 'Alexa'), ('dept', 'CSE'), ('sub', ['DM', 'CP'])])

In [84]:
data.pop('sub') # Will remove the subject

['DM', 'CP']

In [85]:
data # There is no subjects

{'roll': 2, 'name': 'Alexa', 'dept': 'CSE'}

In [86]:
data.popitem()

('dept', 'CSE')

In [87]:
data

{'roll': 2, 'name': 'Alexa'}

In [88]:
data.update({'age':22})

In [89]:
data

{'roll': 2, 'name': 'Alexa', 'age': 22}

In [90]:
data.fromkeys([1,2,3,4],99)

{1: 99, 2: 99, 3: 99, 4: 99}

In [92]:
data.setdefault(22,45)

In [93]:
data

{'roll': 2, 'name': 'Alexa', 'age': 22, 22: None}