In [1]:
x = 5
y = x+6
y

11

In [4]:
#variable Types

In [40]:
name = 'tessa john'
email = "tessa@gmail.cpm"
print(type(name))
email.endswith('.cpm')
email.startswith('tes')
email.split('@')
email.split('.')

<class 'str'>

['tessa@gmail', 'cpm']

In [3]:
name = 'tessa john'
name

'tessa john'

In [43]:
name[6]
name[-4]
name[2:5]
name[0:10:2]
name[:8:]
name[:3]
name[2::2]
name[::3]
name[-1:-7:-2]
name[::-1] 
name[-7:-2]
name.split()
name.replace('a','A')
name.swapcase()

'TESSA JOHN'

In [49]:
#methods
name.upper()
name.lower()
name.title()
name.capitalize()
name.casefold()
name.endswith('n')
name.count('s')
name.index('s')
name.find('h')
name = 'tessa john'
name.isalpha()
name.islower()
name.isdecimal()
name.isnumeric()

False

In [51]:
#Numbers

In [53]:
age = 24
type(age)
print(age)

24

In [59]:
h = 174.67
type(h)
int(h)
float(h)

174.67

In [60]:
c= 1+3j
type(c)

complex

In [62]:
c.real
c.imag

3.0

In [63]:
is_married = True
type(is_married)

bool

In [65]:
#Type Conversion

In [69]:
age = 24
complex(age)

(24+0j)